html {
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 680px) {
    html {
        font-size: 14px;
    }
}

@font-face {
    font-family: "Croissant One";
    src: url(../styles/fonts/CroissantOne/CroissantOne-Regular.ttf);
}

* {
    font-family: "Croissant One" ,ui-sans-serif, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* log in */
.log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60rem;
    background: url("/public/images/envelopes-banner-1.jpg") center center no-repeat;
    background-size: cover;
    color: #FAF9F6;
}

@media only screen and (max-width: 750px) {
    .log-in {
        height: 40rem;
    }
}

@media only screen and (max-width: 530px) {
    .log-in {
        height: 30rem;
    }
}

.log-in form {
    width: 80%;
    padding: 20px;
    text-align: center;
    border: 8px solid #FAF9F6;
    font-size: 2.44rem;
    letter-spacing: 2px;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffb78c;
}

.log-in form .submit-button {
    background: #ffb78c;
    border: 0;
    border-radius: 12px;
    color: #FAF9F6;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 1.75;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}
.log-in form .submit-button:hover {
    opacity: 0.7;
}

.log-in form .submit-space {
    border: 0;
    border-radius: 12px;
    line-height: 1.75;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #4a4a4a;
}

