@font-face {
    font-family: "Croissant One";
    src: url(../styles/fonts/CroissantOne-Regular.ttf);
}

html {
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 680px) {
    html {
        font-size: 14px;
    }
}

* {
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.44rem;
    padding: 0 12%;
    background-color: #FAF9F6;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-size: .77rem;
    font-weight: bold;
}

.header .logo {
    padding-left: 0%;
    flex-grow: 1;
    color: #ffb78c;
    font-size: 1.5rem;
}

.header li {
    display: inline;
    padding-right: 2.22rem;
}

.header li a {
    text-decoration: none;
    color: #4a4a4a;
}

.header li a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 550px) {
    .header {
        flex-direction: column;
    }

    .header .logo {
        flex-grow: 0;
    }
}

/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background: url("/public/images/envelopes-banner-1.jpg") center center no-repeat;
    background-size: cover;
    color: #ffb78c;
}

@media only screen and (max-width: 750px) {
    .banner {
        height: 40rem;
    }
}

@media only screen and (max-width: 530px) {
    .banner {
        height: 30rem;
    }
}


/* FOOTER */
footer {
    display: flex;
    padding: 2rem 10% 2rem 10%;
    background-color: #212121;
    flex-direction: column;
    text-align: center;
}

footer .contact {
    flex-grow: 1;
    color: #9b9b9b;
    align-content: center;
    list-style: 1.5;
}

footer .about {
    padding: 2rem 10% 2rem 10%;
    font-style: bold;
    color: grey;
}
footer .about a, a:visited {
    color: inherit;
}
footer .about a:hover {
    opacity: 0.7;
}

footer h1 {
    font-size: larger;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
}

/* ICONS */
/* Style all font awesome icons */
.fa {
    padding: 12px;
    font-size: 18px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
}


/* Add color for each icon when hover */
.fa-facebook:hover {
    background: #3B5998;
}

.fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.fa-linkedin:hover {
    background: #0072b1;
}

.fa-github:hover {
    background: #171515;
}

.fa-envelope:hover {
    background: #dd4b39;
}