/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.44rem;
    padding: 0 12%;
    background-color: #FAF9F6;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-size: .77rem;
    font-weight: bold;
}

.header .logo {
    padding-left: 0%;
    flex-grow: 1;
    color: #ffb78c;
    font-size: 1.5rem;
}

.header li {
    display: inline;
    padding-right: 2.22rem;
}

.header li a {
    text-decoration: none;
    color: #4a4a4a;
}

.header li a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 550px) {
    .header {
        flex-direction: column;
    }

    .header .logo {
        flex-grow: 0;
    }
}